/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=======================================
              RESET CSS END 
  =======================================*/
html {
  font-size: 14px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: lightgray;
}

.wraper {
  width: 100vw;
  background-color: white;
}

.center {
  padding: 0 3rem 3rem;
}

.contact {
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.contact .git, .contact .tel, .contact .mail, .contact .port {
  display: grid;
  grid-template-columns: 3rem auto;
}
.contact .git .prawa, .contact .tel .prawa, .contact .mail .prawa, .contact .port .prawa {
  padding: 0.8rem;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.contact .git .lewa, .contact .tel .lewa, .contact .mail .lewa, .contact .port .lewa {
  padding: 0.8rem;
}
.contact .git {
  background-color: #453738;
}
.contact .git .prawa {
  background-image: url(img/github.svg);
}
.contact .port {
  background-color: #94291e;
}
.contact .port .prawa {
  background-image: url(img/port.svg);
}
.contact .tel {
  background-color: #b82c1c;
}
.contact .tel .prawa {
  background-image: url(img/tel.svg);
}
.contact .mail {
  background-color: #d43c2a;
}
.contact .mail .prawa {
  background-image: url(img/mail.svg);
}

.experiences {
  margin-bottom: 1rem;
}

main, .title {
  padding: 1.5rem 0;
}

.lowerContent {
  font-weight: 700;
  color: #b82c1c;
  margin-bottom: 0.5rem;
}
.lowerContent p {
  font-size: 1.3rem;
  font-weight: 400;
  padding-left: 25px;
  color: black;
}

.upperContent {
  position: relative;
  font-weight: 700;
}
.upperContent span {
  font-weight: 400;
}
.upperContent p {
  font-weight: 400;
  font-size: 1rem;
  color: grey;
}
.upperContent .flag {
  display: block;
  position: absolute;
  width: 4.6rem;
  top: 0;
  right: -5rem;
}
.upperContent .flag img {
  width: 2.1rem;
  height: 2.1rem;
  float: left;
  padding-left: 0.4rem;
  filter: drop-shadow(0 0 0.1rem black);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

.title {
  margin-bottom: 3rem;
}

.experiences {
  max-width: 300px;
  display: grid;
  margin-right: 80px;
  justify-self: end;
  text-align: right;
}

header {
  display: grid;
  justify-items: center;
  background: url(img/blueSky.jpg);
  background-size: auto 70vh;
  background-attachment: fixed;
  background-position: center top;
  z-index: 1;
  position: relative;
}
header h1 {
  color: white;
}
header .name {
  display: none;
}
header .face {
  width: 50vh;
  height: 50vh;
  background-image: url(img/filip.png);
  background-size: 100%;
  position: relative;
  align-self: center;
  justify-self: center;
}
header .face .smallName {
  position: absolute;
  display: block;
  max-width: 95%;
  bottom: 1rem;
  left: 5%;
  background-color: #b82c1c;
  border-radius: 10px;
  padding: 0.8rem;
  z-index: 2;
}
header .face .whiteBlock {
  position: absolute;
  display: block;
  border-radius: 20px;
  border: 1rem solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.3);
  top: 3rem;
  bottom: 1rem;
  left: 2rem;
  right: 2rem;
  z-index: -1;
}

main {
  color: black;
  justify-content: center;
}
main section {
  display: grid;
  width: 100%;
  border-bottom: 3px solid #b82c1c;
  padding-bottom: 20px;
  margin: 10px 0;
}
main section .title {
  font-weight: 700;
  width: 100%;
  text-align: center;
  justify-self: center;
  background-color: #e7e4e6;
}

aside {
  display: grid;
  color: black;
  background-color: #e7e4e6;
}
aside h2 {
  text-align: center;
  font-weight: 700;
  margin: 20px 0;
}

.box {
  display: grid;
  grid-column-gap: 3rem;
  grid-row-gap: 0rem;
  padding: 0 55px 25px 55px;
}

.stars {
  display: grid;
  margin-bottom: 0.5rem;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 15px;
  line-height: 1.6rem;
  font-size: 1.6rem;
}

.startLeft {
  text-align: right;
  display: block;
  height: 100%;
  float: left;
  position: relative;
}

.starRight {
  font-size: 1.6rem;
  display: block;
  height: 100%;
  float: right;
  color: #b82c1c;
}

.break {
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
}

#psIcon, #htmlIcon, #cssIcon, #jsIcon, #enIcon, #esIcon, #ptIcon, #ruIcon {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  position: absolute;
  background-size: 1.5rem;
  left: -1.8rem;
}

#psIcon {
  background-image: url(img/ps.svg);
}

#htmlIcon {
  background-image: url(img/html5.svg);
}

#cssIcon {
  background-image: url(img/css.svg);
}

#jsIcon {
  background-image: url(img/es6.svg);
}

#enIcon {
  background-image: url(img/uk.svg);
}

#esIcon {
  background-image: url(img/spain.svg);
}

#ptIcon {
  background-image: url(img/portugal.svg);
}

#ruIcon {
  background-image: url(img/russia.svg);
}

.hobby {
  margin-bottom: 0.6rem;
  position: relative;
}
.hobby p {
  color: #b82c1c;
}

.contactAside {
  display: none;
}

@media all and (min-width: 450px) {
  .box {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 800px) and (orientation: landscape) {
  header {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    background-size: cover;
  }
  header .name {
    align-self: end;
    display: block;
    margin-bottom: 1rem;
    background-color: #b82c1c;
    border-radius: 10px;
    padding: 0.8rem;
  }
  header .face {
    height: 70vh;
    width: 70vh;
  }
  header .face .smallName {
    display: none;
  }

  .contact {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media all and (min-width: 800px) {
  .contact {
    display: none;
  }

  .wraper {
    display: grid;
    grid-template-columns: 70vw 30vw;
    grid-template-rows: 300px auto;
  }

  header {
    width: auto;
    height: 300px;
    grid-column: 1/3;
    grid-row: 1/2;
    background-size: auto 600px;
  }
  header .face {
    width: 300px;
    height: 300px;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    margin-right: 3rem;
  }
  header .face .smallName {
    display: none;
  }
  header .name {
    justify-self: start;
    align-self: end;
    display: block;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
    background-color: #b82c1c;
    border-radius: 10px;
    padding: 0.8rem;
  }

  main {
    grid-column: 1/2;
    grid-row: 2/3;
    align-content: start;
  }

  aside {
    box-shadow: -10px 0px 20px grey;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .box {
    grid-template-columns: 100%;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    align-content: start;
  }

  .contactAside {
    color: white;
    display: grid;
    grid-template-columns: 100%;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .contactAside .git, .contactAside .tel, .contactAside .mail, .contactAside .port {
    display: grid;
    grid-template-columns: 3rem auto;
  }
  .contactAside .git .prawa, .contactAside .tel .prawa, .contactAside .mail .prawa, .contactAside .port .prawa {
    padding: 0.8rem;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .contactAside .git .lewa, .contactAside .tel .lewa, .contactAside .mail .lewa, .contactAside .port .lewa {
    padding: 0.8rem;
    padding-right: 0;
  }
  .contactAside .git {
    background-color: #453738;
  }
  .contactAside .git .prawa {
    background-image: url(img/github.svg);
  }
  .contactAside .port {
    background-color: #94291e;
  }
  .contactAside .port .prawa {
    background-image: url(img/port.svg);
  }
  .contactAside .tel {
    background-color: #b82c1c;
  }
  .contactAside .tel .prawa {
    background-image: url(img/tel.svg);
  }
  .contactAside .mail {
    background-color: #d43c2a;
  }
  .contactAside .mail .prawa {
    background-image: url(img/mail.svg);
  }
}
@media all and (min-width: 1200px) {
  .wraper {
    width: 1200px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 300px auto;
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
